@import '~@/styles/_utils.scss';
.PageFooter {
  padding: 30px 0px;
  background-color: $color-primary-background;
  text-align: center;
  .PageFooterLinks{
    margin-bottom: 15px;
    @include media-sm{
      margin-bottom: 0;
      text-align-last: left;
    }
  }
  .PageFooterLink{
    line-height: 2.5;
  }

  .PageFooterCompany {
    > a{
      + a {
        margin-left: 10px;
        @include media-sm{
          margin-left: 0;
        }
      }
    }
    @include media-sm{
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      flex-direction: column;
    }
  }

  a{
    text-decoration: none;
    color: $color-primary-black;
  }
}