@import '~@/styles/_utils.scss';



.ProductCard {
  &{
    margin-bottom: 15px;
    border-radius: 5px;
    overflow: hidden;
  }
  .CardCover{
    width: 100%;
    padding-bottom: 70%;
    @include backgroundReset('http://via.placeholder.com/800x800');
  }
  .CardPrice{
    font-size: 1.4rem;
  }

  .CardInfos {
    border: 1px solid #dddddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
    padding-top: 0;
    line-height: 1.6;
    .CardTitle{
      padding: 5px 0px;
    }
  }
  // 有打折情況
  &.isDiscount{
    .CardPriceOrigin{
      text-decoration: line-through;
    }
    .CardPriceDiscount{
      color: $color-discount;
    }
  }
}