@import '~@/styles/_utils.scss';

.ProductCard {
  &{
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 3px 15px 0px rgba(#000, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    transform: translate(0px,0px);
    &:hover{
      transform: translate(-5px, -5px);
    }


    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 5px;
      position: absolute;
      bottom: -1px;
      left: 0;
      background-color: var(--info);
    }
  }
  // 卡片上方圖片
  .CardCover{
    @include backgroundReset('https://fakeimg.pl/700x700/');
    width: 100%;
    padding-bottom: 70%;
    background-color: $color-border-darken-gray;
    background-size: 100%;
    transition: background-size .3s linear;
    &:hover{
      background-size: 130%;
    }
  }
  
  // 卡片下方資訊
  .CardInfos {
    border: 1px solid $color-border-darken-gray;
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
    background-color: #fff;
    line-height: 1.8;
    .CardTitle{
      margin-bottom: 10px;
      font-size: 2rem;
      font-weight: 300;
    }
    .CardMarkText{
      display: inline-block;
      color: #fff;
      background-color: var(--info);
      line-height: 1;
      padding: 3px;
    }
  }

  // wrap CardPrice group
  .CardProductInfo{
    font-size: 1.4rem;
  }
  // 價錢區塊
  .CardPrice {
    
    &.CardPriceRed {
      color: $color-discount;
    }
    // 有打折原價刪除線
    &.CardPriceLineThrough {
      text-decoration: line-through;
    }
    // 打折區塊
    &.CardPriceDiscount{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
  }
  

  
}