@import '~@/styles/_utils.scss';

.PageShopCart {
  // 底部計算總金額 
  .PageShopCartTotal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $color-border-gray;
    padding: 15px 0px;
    font-size: 1.8rem;
  }

  // 結帳按鈕區塊
  .PageShopCartNextBtn {
    @extend %flex-center;
    .CustomButton {
      padding: 8px 0px;
      letter-spacing: 3px;
      @include media-md{
        width: 20%;
      }
    }
  }
}