$baseFontSize: 10px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// color
$color-primary-black: #444;
$color-border-gray: #eee;
$color-border-darken-gray: #ddd;
$color-discount:#c0392b;
$color-primary-background: #f8f8f8;


%flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin media-sm {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin media-md {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}
@mixin media-lg {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin media-xl {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}

// background setting
@mixin backgroundReset($url:''){
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url($url);
}