@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');
// 載入斯原黑體
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

@import './_utils.scss';

html{
  font-size: $baseFontSize;
}
body{
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: $color-primary-black;
}


h1,h2,h3,h4,h5,h6,.btn{
  font-weight: 300;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

// 將所有col下方保留margin-bottom
@for $i from 1 through 12{
  .col-#{$i}{
    margin-bottom: 40px;
  }
}

.App{
  // 為了讓內容不夠時不要讓網頁下方有留白，
  // 所以讓 App 撐滿畫面，再用flex特性讓 PageContent 去吃多的留白空間
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.PageContent{
  flex-grow: 1;
  padding-top: 85px;
}