@import '~@/styles/_utils.scss';

.CustomInput {
  &{
    margin-bottom: 15px;
    border: 1px solid $color-border-gray;
    border-radius: 5px; 
    padding: 5px;

    display: flex;
    align-items: stretch;
  }
  input{
    &{
      width: 100%;
      height: 100%;
    }
    &,&:focus{
      font-size: 1.4rem;
      outline: none;
      box-shadow: none;
      border: none;
    }
    &::placeholder{
      color: darken($color-border-darken-gray,20%);
    }
  }

  .CustomInputIcon{
    @extend %flex-center;
    padding: 5px;
    padding-right: 10px;
  }

  .CustomInputControl{
    flex-grow: 1;
    margin: -5px 0px;
  }
}